/*
    Component: CTA link
    ---
    Small cta link with custom animation
*/

.c-link-cta {
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    padding: 4px 0;
    transition: color .175s ease-in;
}

.c-link-cta,
.c-link-cta:visited,
.c-link-cta:active {
    color: #7373F5;
}

.c-link-cta::after {
}

.c-link-cta:hover {
    color: #3E3EA8;
}

.c-link-cta:hover::after {
}
