/*
    Component: Lead
    ---
    Lead type treatments to style everything that differs from standard typography elements
*/

.c-lead {
    font-weight: 200;
}

.c-lead--lg {
    font-size: 20px;
    line-height: 32px;
}

.c-lead--xl {
    font-size: 26px;
    line-height: 32px;
}

.c-lead--xxl {
    font-size: 32px;
    line-height: 40px;
}

.c-lead--xxxl {
    font-size: 36px;
    line-height: 48px;
}

@media (min-width: 768px) {
    .c-lead--lg {
        font-size: 23px;
        line-height: 32px;
    }

    .c-lead--xl {
        font-size: 32px;
        line-height: 40px;
    }

    .c-lead--xxl {
        font-size: 41px;
        line-height: 48px;
    }

    .c-lead--xxxl {
        font-size: 52px;
        line-height: 64px;
    }
}

@media (min-width: 1200px) {
    .c-lead--lg {
        font-size: 26px;
        line-height: 36px;
    }

    .c-lead--xl {
        font-size: 36px;
        line-height: 48px;
    }

    .c-lead--xxl {
        font-size: 52px;
        line-height: 64px;
    }

    .c-lead--xxxl {
        font-size: 66px;
        line-height: 72px;
    }
}
