/*------------------------------------*\
  #FONTS
\*------------------------------------*/

@font-face {
    font-family: "HK Grotesk Web";
    font-weight: 200;
    src: url("../fonts/hkgrotesk-light-webfont.woff2") format("woff2"),
         url("../fonts/hkgrotesk-light-webfont.woff") format("woff");
}

@font-face {
    font-family: "HK Grotesk Web";
    font-weight: 400;
    src: url("../fonts/hkgrotesk-regular-webfont.woff2") format("woff2"),
         url("../fonts/hkgrotesk-regular-webfont.woff") format("woff");
}

@font-face {
    font-family: "HK Grotesk Web";
    font-weight: 600;
    src: url("../fonts/hkgrotesk-medium-webfont.woff2") format("woff2"),
         url("../fonts/hkgrotesk-medium-webfont.woff") format("woff");
}

/*------------------------------------*\
  #GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    font-size: 16px;
    font-weight: 200;
    line-height: 1.5;
    font-family: "HK Grotesk Web", Helvetica, arial, sans-serif;
    color: #202024;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

@media (min-width: 768px) {
    html {
        font-size: 20px;
        line-height: 1.6;
    }
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #5051DB;
    color: white;
    text-shadow: none;
}

::selection {
    background: #5051DB;
    color: white;
    text-shadow: none;
}

/*------------------------------------*\
  #Elements
\*------------------------------------*/

/*
    Elements: Images
    ---
    Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1 {
    font-size: 36px;
    font-weight: normal;
    line-height: 40px;
    margin: 0 0 24px;
}

h2 {
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
}

h3 {
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 24px;
}

h4,
h5,
h6 {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 24px;
}

ul,
ol {
    padding-left: 24px;
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: italic;
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
    font-family: "Times New Roman", serif;
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
    color: #3C3C42;
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 24px;
}

a {
    color: #5051DB;
    transition: all .1s ease-in-out;
}

a:visited,
a:active {
    color: #3E3EA8;
}

a:hover,
a:focus {
    color: #3E3EA8;
}

/*------------------------------------*\
  #OBJECTS
\*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
    overflow: auto;
    position: relative;
    padding: 24px 24px 0;
}

/* color modifiers */

.o-row--neutral-x-light {
    background-color: #F7F7FA;
}

.o-row--primary-base {
    background-color: #5051DB;
    color: #fff;
}

/* .o-row--header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    z-index: 100;
} */

/* size modifiers */

.o-row--sm {
    padding: 16px 24px;
}

.o-row--lg {
    padding: 48px 24px 24px;
}

.o-row--top {
    padding-top: 32px;
}

@media (min-width: 768px) {
    .o-row {
        padding-left: 48px;
        padding-right: 48px;
    }

    .o-row--md {
        padding: 48px 48px 24px;
    }

    .o-row--lg {
        padding: 72px 48px 48px;
    }

    .o-row--top {
        padding-top: 56px;
    }
}

/* padding modifiers */

.o-row--clear {
    padding: 0;
}

.o-row--clear-top {
    padding-top: 0;
}

.o-row--clear-bottom {
    padding-bottom: 0;
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 56.4em; /* 56.4 * 20px = 1128px */
}

/*
    Objects: section
    ---
    Creates vertical whitespace between adjacent sections inside a row
*/

.o-section {
    overflow: auto;
}

.o-section + .o-section {
    margin-top: 24px;
}

@media (min-width: 768px) {
    .o-section--lg + .o-section--lg,
    .o-section--xl + .o-section--xl {
        margin-top: 48px;
    }
}

@media (min-width: 1200px) {
    .o-section--xl + .o-section--xl {
        margin-top: 72px;
    }
}

/*
    Objects: Layout
    ---
    The layout object provides us with a column-style layout system. This object
    contains the basic structural elements, but classes should be complemented
    with width utilities
*/

.o-layout {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

    .o-layout__item {
        width: 100%;
    }

/* gutter modifiers, these affect o-layout__item too */

.o-layout--gutter {
    margin: 0 -12px;
}

.o-layout--gutter > .o-layout__item {
    padding: 0 12px;
}

.o-layout--gutter-sm {
    margin: 0 -6px;
}

.o-layout--gutter-sm > .o-layout__item {
    padding: 0 6px;
}

.o-layout--gutter-lg {
    margin: 0 -24px;
}

.o-layout--gutter-lg > .o-layout__item {
    padding: 0 24px;
}

/* reverse horizontal row modifier */

.o-layout--row-reverse {
    flex-direction: row-reverse;
}

/* Horizontal alignment modifiers*/

.o-layout--justify-start {
    justify-content: flex-start;
}

.o-layout--justify-end {
    justify-content: flex-end;
}

.o-layout--justify-center {
    justify-content: center;
}

.o-layout--justify-space-around {
    justify-content: space-around;
}

.o-layout--justify-space-evenly {
    justify-content: space-evenly;
}

.o-layout--justify-space-between {
    justify-content: space-between;
}

/* Vertical alignment modifiers */

.o-layout--align-start {
    align-items: flex-start;
}

.o-layout--align-end {
    align-items: flex-end;
}

.o-layout--align-center {
    align-items: center;
}

.o-layout--align-baseline {
    align-items: baseline;
}

/* Vertical alignment modifiers that only work if there is one than one flex item */

.o-layout--align-content-start {
    align-content: start;
}

.o-layout--align-content-end {
    align-content: end;
}

.o-layout--align-content-center {
    align-content: center;
}

.o-layout--align-content-space-around {
    align-content: space-around;
}

.o-layout--align-content-space-between {
    align-content: space-between;
}

/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list {
    list-style: none;
    padding: 0;
}

/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

/*
    Component: Logo
    ---
    Website main logo
*/

.c-logo {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.c-logo__symbol {
    width: 130px;
    height: 40px;
}

.c-logo-mark__path-1 {
    fill: #3887f7;
}

.c-logo-mark__path-2 {
    fill: #5051db;
}

.c-logo__name {
    fill: #231f20;
}

/*
    Component: header
    ---
    Main header of the website
*/

.c-header__nav {
    display: none;
}

@media (min-width: 992px) {
    .c-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .c-header__nav {
        display: block;
    }
}

/*
    Component: footer
    ---
    Main footer of the website
*/

.c-footer {
    display: flex;
    flex-wrap: wrap;
}

.c-footer__logo {
    width: 100%;
}

.c-footer__nav,
.c-footer__logo {
    margin-bottom: 24px;
}

.c-footer__nav {
    width: 50%;
}

@media (min-width: 768px) {
    .c-footer {
        justify-content: center;
        align-items: center;
    }

    .c-footer__logo {
        display: flex;
        justify-content: center;
        padding: 0 12px;
    }

    .c-footer__nav {
        width: auto;
        padding: 0 16px;
    }
}

@media (min-width: 992px) {
    .c-footer {
        justify-content: space-between;
    }

    .c-footer__logo {
        width: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .c-footer__nav {
        padding: 0;
    }
}

/*
    Component: Nav
    ---
    Main navigation of the site
*/

.c-nav {
    /* display: none; */
    font-size: 18px;
    line-height: 24px;
}

.c-nav__list {
    margin-bottom: 0;
}

.c-nav__link {
    text-decoration: none;
    font-weight: 400;
    display: block;
    padding: 8px 0;
}

.c-nav__link,
.c-nav__link:visited,
.c-nav__link:active {
    color: #202024;
}

.c-nav__link--meta,
.c-nav__link--meta:visited,
.c-nav__link--meta:active {
    color: #6C6C75;
}

.c-nav__link:hover {
    color: #5051db;
}

@media (min-width: 768px) {
    .c-nav__list {
        display: flex;
        margin: 0 -16px;
    }

    .c-nav__link {
        padding: 8px 16px;
    }
}

/*
    Component: Type
    ---
    Special type treatments
*/

.c-type-lg,
.c-type-xl,
.c-type-xxl,
.c-type-xxxl {
    font-weight: 200;
}

.c-type-lg {
    font-size: 20px;
    line-height: 32px;
}

.c-type-xl {
    font-size: 26px;
    line-height: 32px;
}

.c-type-xxl {
    font-size: 32px;
    line-height: 40px;
}

.c-type-xxxl {
    font-size: 36px;
    line-height: 48px;
}

@media (min-width: 768px) {
    .c-type-lg {
        font-size: 23px;
        line-height: 32px;
    }

    .c-type-xl {
        font-size: 32px;
        line-height: 40px;
    }

    .c-type-xxl {
        font-size: 41px;
        line-height: 48px;
    }

    .c-type-xxxl {
        font-size: 52px;
        line-height: 64px;
    }
}

@media (min-width: 1200px) {
    .c-type-lg {
        font-size: 26px;
        line-height: 36px;
    }

    .c-type-xl {
        font-size: 36px;
        line-height: 48px;
    }

    .c-type-xxl {
        font-size: 52px;
        line-height: 64px;
    }

    .c-type-xxxl {
        font-size: 66px;
        line-height: 72px;
    }
}

/*
    Component: figure
    ---
    Special type of figure and figcaption
*/

.c-figure {
    position: relative;
}

.c-figure__caption {
    line-height: 15px;
    margin-top: 8px;
    padding-left: 6px;
    padding-top: 1px;
    border: 2px solid #5051DB;
    border-width: 0 0 0 2px;
}

@media (min-width: 768px) {
    .c-figure__caption--absolute {
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 8px;
        text-align: right;
        background-color: #fff;
        padding: 16px;
        max-width: 260px;
        border-width: 0 4px 0 0;
    }
}

/*
    Component: Title icon
    ---
    Special type of title with icon
*/

.c-title-icon {
    display: flex;
    align-items: flex-start;
}

.c-title-icon__icon {
    height: 70px;
    margin-right: 20px;
}

@media (min-width: 768px) {
    .c-title-icon__icon {
        height: 84px;
    }
}

@media (min-width: 1200px) {
    .c-title-icon__icon {
        height: 112px;
    }
}

/*
    Component: CTA link
    ---
    Small cta link with custom animation
*/

.c-link-cta {
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    padding: 4px 0;
    transition: color .175s ease-in;
    /* opacity: .7; */
}

.c-link-cta,
.c-link-cta:visited,
.c-link-cta:active {
    color: #7373F5;
}

.c-link-cta::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    height: 1px;
    width: 50%;
    background-color: #7373F5;
    transition: width .175s ease-in;
}

.c-link-cta:hover {
    color: #5051DB;
}

.c-link-cta:hover::after {
    width: 100%;
    background-color: #5051DB;
}

/* inversed */

.c-link-cta--inverse,
.c-link-cta--inverse:visited,
.c-link-cta--inverse:active {
    color: #fff;
}

.c-link-cta--inverse::after {
    background-color: #fff;
}

.c-link-cta--inverse:hover::after {
    background-color: #fff;
}

/*------------------------------------*\
  #UTILITIES
\*------------------------------------*/

/*
    Utilities: color
    ---
    Utility classes to put specific colors onto elements
*/

.u-color-primary-base {
    color: #5051DB;
}

/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

.u-mb-clear {
    margin-bottom: 0 !important;
}

.u-mb-xs {
    margin-bottom: 4px !important;
}

.u-mb-sm {
    margin-bottom: 8px !important;
}

.u-mb-md {
    margin-bottom: 16px !important;
}

.u-mb-lg {
    margin-bottom: 32px !important;
}

.u-mb-xl {
    margin-bottom: 48px !important;
}

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-xs {
    max-width: 18em !important;
}

.u-max-width-sm {
    max-width: 36em !important;
}

.u-max-width-md {
    max-width: 42em !important;
}

.u-max-width-lg {
    max-width: 60em !important;
}

.u-max-width-xl {
    max-width: 75em !important;
}

.u-max-width-none {
    max-width: none !important;
}

/*
    Utility: Widths
    ---
    Utility classes to put specific widths onto elements
    Will be mostly used on o-layout__item
*/

.u-width-auto {
    width: auto !important;
}

.u-1-of-2 {
    width: 50% !important;
}

.u-1-of-3 {
    width: 33.3333333333% !important;
}

.u-2-of-3 {
    width: 66.6666666667% !important;
}

.u-1-of-4 {
    width: 25% !important;
}

.u-3-of-4 {
    width: 75% !important;
}

.u-1-of-5 {
    width: 20% !important;
}

.u-2-of-5 {
    width: 40% !important;
}

.u-3-of-5 {
    width: 60% !important;
}

.u-4-of-5 {
    width: 80% !important;
}

.u-1-of-6 {
    width: 16.6666666667% !important;
}

.u-5-of-6 {
    width: 83.3333333333% !important;
}

@media (min-width: 576px) {
    .u-1-of-2-bp1 {
        width: 50% !important;
    }
    .u-1-of-3-bp1 {
        width: 33.3333333333% !important;
    }
    .u-2-of-3-bp1 {
        width: 66.6666666667% !important;
    }
    .u-1-of-4-bp1 {
        width: 25% !important;
    }
    .u-3-of-4-bp1 {
        width: 75% !important;
    }
    .u-1-of-5-bp1 {
        width: 20% !important;
    }
    .u-2-of-5-bp1 {
        width: 40% !important;
    }
    .u-3-of-5-bp1 {
        width: 60% !important;
    }
    .u-4-of-5-bp1 {
        width: 80% !important;
    }
    .u-1-of-6-bp1 {
        width: 16.6666666667% !important;
    }
    .u-5-of-6-bp1 {
        width: 83.3333333333% !important;
    }
}

@media (min-width: 768px) {
    .u-1-of-2-bp2 {
        width: 50% !important;
    }
    .u-1-of-3-bp2 {
        width: 33.3333333333% !important;
    }
    .u-2-of-3-bp2 {
        width: 66.6666666667% !important;
    }
    .u-1-of-4-bp2 {
        width: 25% !important;
    }
    .u-3-of-4-bp2 {
        width: 75% !important;
    }
    .u-1-of-5-bp2 {
        width: 20% !important;
    }
    .u-2-of-5-bp2 {
        width: 40% !important;
    }
    .u-3-of-5-bp2 {
        width: 60% !important;
    }
    .u-4-of-5-bp2 {
        width: 80% !important;
    }
    .u-1-of-6-bp2 {
        width: 16.6666666667% !important;
    }
    .u-5-of-6-bp2 {
        width: 83.3333333333% !important;
    }
}

@media (min-width: 992px) {
    .u-1-of-2-bp3 {
        width: 50% !important;
    }
    .u-1-of-3-bp3 {
        width: 33.3333333333% !important;
    }
    .u-2-of-3-bp3 {
        width: 66.6666666667% !important;
    }
    .u-1-of-4-bp3 {
        width: 25% !important;
    }
    .u-3-of-4-bp3 {
        width: 75% !important;
    }
    .u-1-of-5-bp3 {
        width: 20% !important;
    }
    .u-2-of-5-bp3 {
        width: 40% !important;
    }
    .u-3-of-5-bp3 {
        width: 60% !important;
    }
    .u-4-of-5-bp3 {
        width: 80% !important;
    }
    .u-1-of-6-bp3 {
        width: 16.6666666667% !important;
    }
    .u-5-of-6-bp3 {
        width: 83.3333333333% !important;
    }
}

@media (min-width: 1200px) {
    .u-1-of-2-bp4 {
        width: 50% !important;
    }
    .u-1-of-3-bp4 {
        width: 33.3333333333% !important;
    }
    .u-2-of-3-bp4 {
        width: 66.6666666667% !important;
    }
    .u-1-of-4-bp4 {
        width: 25% !important;
    }
    .u-3-of-4-bp4 {
        width: 75% !important;
    }
    .u-1-of-5-bp4 {
        width: 20% !important;
    }
    .u-2-of-5-bp4 {
        width: 40% !important;
    }
    .u-3-of-5-bp4 {
        width: 60% !important;
    }
    .u-4-of-5-bp4 {
        width: 80% !important;
    }
    .u-1-of-6-bp4 {
        width: 16.6666666667% !important;
    }
    .u-5-of-6-bp4 {
        width: 83.3333333333% !important;
    }
}

/*------------------------------------*\
  #MEDIA
\*------------------------------------*/

/*
    Media Queries
    ---
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    USE THEM INLINE!
*/

/* Extra small devices (portrait phones, less than 576px)
   No media query since this is the default in mobile first design
*/

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
*/

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
*/

/* Large devices (landscape tablets, desktops, 992px and up)
@media (min-width: 992px) {}
*/

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
